.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(to bottom, #FFFFFF 55%, #FEE8C5 45%);
}

.header__group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}