.link {
    padding: 16px 117px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #1B1B1B;
    border-radius: 18px;
    transition: all 0.3s;
    text-align: center;
}

.link_cart {
    background: #FDCF7D;
    border-radius: 13px;
    padding: 16px 34px;
    font-size: 18px;
    line-height: 21px;
    color: #252525;
    display: inline-block;
    width: 100%;
}

.link_header {
    padding: 11px 0;
    background: #F7C3D5;
    border-radius: 18px;
    width: 370px;
    font-size: 30px;
    line-height: 35px;
}

.link_content {
    background: #FDCF7D;
    border-radius: 13px;
    padding: 16px 34px;
    font-size: 18px;
    line-height: 21px;
    color: #252525;
    display: inline-block;
}

@media screen and (max-width: 769px) {
    .link_header {
        width: 292px;
    }
}

@media screen and (max-width: 380px) {
    .link_header {
        width: 100% !important;
    }

    .link_content {
        width: 100% !important;
    }
}