.CartIcon {
    position: relative;
}

.count {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #D5617A;
    border-radius: 15px;
    padding: 12px 8px;
    position: absolute;
    bottom: 0;
    right: -12px;
}