.MainPageContent {
  background-color: #FFFFFF;
  background: url('../../images/backgrounds/main_page_bg.jpg') repeat center/contain;
  padding-top: 80px;
}

.generator_container {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding: 250px 0;
  border-radius: 20px;
  background-color: #ee738d;
  background: url('../../images/content/combogenerator.jpg') no-repeat center/cover;
  text-align: center;
}

.text {
  color: #1B1B1B;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 45px;
}

.holder {
  display: flex;
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #1B1B1B;
}

@media screen and (max-width: 769px) {
  .generator_container {
    padding: 0;
    height: 370px;
  }
}

@media screen and (max-width: 380px) {
  .MainPageContent {
    padding: 0;
    position: relative;
    background: #FFFFFF;
  }

  .title {
    font-size: 26px;
    line-height: 30px;
  }

  .generator_container {
    position: absolute;
    height: 240px;
    width: 100%;
    top: 180px;
    left: 0;
    border-radius: 0;
  }
}