.MainPageContent {
  background-color: #fff;
}

.generator__container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 250px 0;
  border-radius: 20px;
  background-color: #ee738d;

  text-align: center;
}

.link_button {
  display: block;
  background-color: #fdcf7d;
}