.slider {
    width: 588px;
    height: 708px;
    animation: appearance 0.3s ease-in 1;
    animation-fill-mode: both;
    z-index: 2;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slider__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slider__text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 52px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 26px 26px 0 26px;
}

.slider__logo {
    position: absolute;
    left: 26px;
    bottom: 156px;
    z-index: 999;
}

@media screen and (max-width: 769px) {
    .slider {
        width: 416px;
        height: 500px;
    }
}

@media screen and (max-width: 380px) {
    .slider {
        position: absolute;
        width: 100%;
        height: 370px;
        left: 0;
        border-radius: 0;
    }
}