.OrderForm {
    background: #F7C3D5;
    border-radius: 20px;
    padding: 16px 20px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    font-family: Roboto,sans-serif;
    position: relative;
    overflow: hidden;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #1B1B1B;
    margin: 0 auto 30px;
}

.input {
    background: #FBFBFF;
    border-radius: 10px;
    padding: 16px;
    border: none;
    outline: none;
    margin-bottom: 16px;
}

.holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input:nth-child(1) {
    width: 100%;
}

.input:nth-child(2) {
    width: 182px;
}

.input:nth-child(3), .input:nth-child(7) {
    width: 162px;
}

.input:nth-child(n+4):nth-child(-n+6) {
    width: 50px;
}

.input:nth-child(n+8) {
    width: 100%;
}

.input:nth-last-child(1) {
    margin-bottom: 0;
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.remove {
    position: absolute;
    right: 20px;
    top: 16px;
}

.submit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 14px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #EE738D;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
}

.submit:hover {
    background: #ab536a;
}

.submit:disabled {
    background: #cdd2d2;
    pointer-events: none;
}