.Navigation {
    width: 32px;
    height: 32px;
    /*margin: 30px 21px 0;*/
    position: relative;
}

.window {
    height: 633px;
    top: -30px;
    left: -17px;
    background: #F7C3D5;
    position: absolute;
    z-index: 3;
    overflow: hidden;
}

.open {
    width: 386px;
    opacity: 1;
    transition: all 0.4s;
}

.close {
    width: 0;
    opacity: 0;
    transition: all 0.4s;
}

.cross {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.hamburger {
    cursor: pointer;
}

.list {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 66px;
    top: 118px;
}

.link {
    text-decoration: none;
}

.text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 24px;
}