body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.CDEK-widget__delivery-type__item, .CDEK-widget__delivery-type__title {
  display: none;
}

@media screen and (max-width: 769px) {
  .container {
    width: 728px;
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 342px;
  }
}