.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #1B1B1B;
  margin: 0 0 22px;
}
